@charset "utf-8";
*{
	padding: 0;margin: 0;list-style: none;
}
.show{
	border-top: 1px solid #000;
	width: 46.875rem;
	height:75rem;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	border-top: 1px solid rgba(255,255,255,.2);
	width: 37.5rem;
	height: 40.625rem;
	background-color:rgba(255,255,255,.2);
	border-radius:1.25rem;
	margin: 12.5rem auto;
}
section h1{
	height:9.375rem;
	line-height:9.375rem;
	color:rgba(255,255,255,.9);
	text-align: center;
	font-size: 3.5rem;
}
section .name{
	height: 3.125rem;
	line-height: 3.125rem;
	text-align: center;
	margin-bottom:3.125rem;
}
section .name input{
	font-weight: bolder;
	border-radius: 0.125rem;
	text-indent: 1rem;
	font-size: 1rem;
	width: 25rem;
	height: 3.125rem;
	outline: none;
}
section .pswd{
	height: 3.125rem;
	line-height: 3.125rem;
	text-align: center;
}
section .pswd input{
	font-weight: bolder;
	border-radius: 0.125rem;
	text-indent: 1rem;
	font-size: 1rem;
	width: 25rem;
	height: 3.125rem;
	outline: none;
}
section .wenti{
	color:rgba(255,255,255,.9);
	height: 3.125rem;
}
section .wenti a{
	color: rgba(255,255,255,.9);
	text-decoration: none;
	width: 6.25rem;
	height: 3.125rem;
	line-height: 3.125rem;
	margin-left: 26.25rem;
}
section button{
	outline: none;
	border: none;
	font-size: 1rem;
	color:rgba(255,255,255,.9);
	margin-left:6.25rem;
	margin-top:6.25rem;
	width: 25rem;
	height: 3.125rem;
	background-color:rgb(25,179,145);
}
.tishi{
	display: none;
	text-align: center;
	line-height: 3.125rem;
	border-radius: 1px;
	width: 25rem;
	height: 3.125rem;
	margin: 0 auto;
	border-radius: 0.125rem;
	background-color:rgba(255,255,255,.9);
}